<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Spacestagram | Register</title>
    </head>

    <body>
        <h1>Register</h1>
        <form action="/register" method="post">
            <div>
                <label for="firstName">First Name:</label>
                <input type="text" id="firstName" name="firstName">
            </div>
            <div>
                <label for="lastName">Last Name:</label>
                <input type="text" id="lastName" name="lastName">
            </div>
            <div>
                <label for="email">Email:</label>
                <input type="text" id="email" name="email">
            </div>
            <br>
            <div>
                <label for="username">Username:</label>
                <input type="text" id="username" name="username">
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" id="username" name="password">
            </div>
            <div>
                <input type="submit" value="Register">
            </div>

        </form>
        <br>
        <a href="/login">Login</a>

        <p id="errorMessage"><%= (locals.reason || '') %></p>
    </body>
    </body>
</html>